 @charset "utf-8";
 @import url('https://fonts.googleapis.com/css?family=Nunito');
  body{
    height: 100%;
    position: relative;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
  }
  /*estilo menu */
  nav{
    background-color: #454abd;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
    justify-self: flex-end;
    position: fixed;
    z-index: 9;
    text-transform: uppercase;
  }
nav i{
  font-size: 25px;
  cursor: pointer;
  z-index: 9;
}
form{
  z-index: 9;
  position: absolute;
  top:70px;
  background-color: #616ca7;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:auto;
  padding: 2rem;
  opacity: 1;
  transition: all 1s;
  font-weight: bold;
 

}
form input{
  border:none;
  height: 35px;
  width: 100%;
  margin-bottom: 2px;
  font-size: 25px;
  font-weight: bold;
}
form input[type=search]{
  padding-left:10px;
}

form input[type=submit]{
  margin-top: 2px;
  color: #3F51B5;
  background-color: #fff;
}


  button.open,button.close{
    flex-direction: column;
    width: 50px;
    height: 1px;
    border:none;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    background-color: transparent;
    align-self: flex-start;
    cursor: pointer;
    position: absolute;
    z-index: 8;
    outline: none;
    transition-delay: all .1s;
  }
  
  button.open::before{
    content: "";
    width: 50px;
    height: 0px;
    border:none;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    margin-top: 8px;
    cursor: pointer;
 
  }
  button.open::after{
    content: "";
    width: 50px;
    height: 0px;
    border:none;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    margin-top: 6.5px;
    cursor: pointer;
  }
  button.open{
    display: flex;
    opacity: 1;
    left: 5px;
    transition: all .5s;
    cursor: pointer;
   
  }
  button.close{
    top: 2rem;
    display: flex;
    left: 5px;
    transition: all .5s;
    cursor: pointer;
    transform: rotate(-45deg);
  }
  
  button.close::before{
    content: "";
    width: 50px;
    height: 0px;
    border:none;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    cursor: pointer;
    transform: rotate(-90deg);
  
  }
  
  menu{
  display: none;
  justify-content: center;
  align-items: flex-start;
  height:100%;
  position: fixed;
  top:0; 
  width: 0%;
  z-index: 8;
  left: 0;
  list-style-type: none;
  transition: all .5s;
}


menu ul{
  list-style-type: none;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  margin-top: 71px;
}

menu ul li {
  background-color: #fff;
  /* min-width: 40px; */
  height: 70px;
  /* border-radius: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3F51B5;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 9;
  border-bottom: 1px solid #e6e6e6;
 
}




/* estilo principal */
  .tela{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .home{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    background-color: rgb(205, 212, 218);
    background-image: url(../images/particulas-fundo-2-min.png);
    background-size:cover;
    background-blend-mode:screen;
    justify-self: flex-end;
    height: 100%;
    min-height:920px;
    animation: particulasFundo 2000s infinite;
    background-attachment: fixed;
    overflow: hidden;
  }
  .flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1px;
    padding: 10px;
    flex-wrap: wrap;
  }
  .box-post{
    margin-left:15px; 
    color:#3F51B5;
    background-color: #EFF4F9;
    padding: 20px;
    width:300px;
    margin: 20px;
    height: 215px;
    box-shadow: 0px .1rem .9rem rgba(187, 204, 221, 0.4);
    position:relative;
    border-radius: 25px;

  }
  .info-post{
    align-items: center;
    font-size: 18px;
    font-weight: normal;
  }
  .cat-post{
    width: 64px;
    font-size: 18px;
    color:#265BFF;
    padding: 1%;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  .title-post{
    display: flex;
    flex-wrap: nowrap;
    width: 55%;
    min-width: 150px;
    font-size: .8em;
    margin-top:10px;
    text-shadow: 0rem 0.1rem 0.2rem rgb(187, 204, 221);
  }

  #open,#close{
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    left: 0;
   
  }
  #open{
    top:20px;
    left: 5px;
  }

  .autor-post{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #fff;
    position: relative;
  }
  .box-post a{
    position: absolute;
    right: 60%;
    z-index: 8;
    top: 55%;
    font-size:18px;
    font-weight: bold;
    color:#3F51B5;
    text-decoration: none;
  }
  .date-post{
    margin-top:5px;
    text-shadow: 0rem 0.1rem 0.2rem rgb(187, 204, 221);
    font-size: 15px;
  }
 
.card-box img{
  width: 45%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px 25px 25px 0px;
}
.lancamento-post::-webkit-scrollbar {
  display: none;
}


.card-box::after{
content: "";
width: 45%;
height: 100%;
position: absolute;
right: 0;
top: 0;
z-index: 7;
background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5),rgba(78, 28, 227, 0.5));
border-radius: 0px 25px 25px 0px;
}
/* post mais visto */
.max_views{
    width : 650px;
    margin: 10px;
    height: 330px;
    margin: 20px;
}

.max_views .autor-post{
  width: 85px;
  height: 85px;
  border-radius: 100%;
  background-color: #fff;
}
.max_views .date-post{
  margin-top: 20px;
  font-size: 20px;
}
.max_views .info-post{
  font-size: 20px;
}
.max_views::before{
 content: 'Mais visto';
 background-color: rgba(255, 255, 255, 0.438);
 padding: 1%;
 color: #fff;
 position: absolute;
 right:10%;
 top: 6%;
 z-index: 8;
 font-weight: normal;
 letter-spacing: 5px;
 border-radius: 5px;
 box-shadow: 0rem .1rem .2rem #000;
}
.max_views .title-post{
  font-size: 2em;
}
.all-post{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  grid-template-areas: "post-left post-right";
  align-items: center;
  height: 350px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
 /* scroll firefox */
 scrollbar-color: rgba(66, 66, 73, 0.103)rgba(255, 255, 255, 0);
  margin-top:50px; 

}

.post-left{
  grid-area: post-left; 
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
}

.post-right{
  grid-area: post-right;
  
}
.all-post > div{
  justify-self: center;
}

.all-post:nth-child(2) {
  border-left: 20px solid #1c286b;
}
.arrows_keys{
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
  color:#EFF4F9;
  padding: 1rem;
  position: absolute;
  right: 0;
  top:25px;  
}
.navigation{
  display: flex;
  width: 100%;
  font-size: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.nav_info{
 padding-left: 100px;
 align-self: center;
 position: absolute;
 left: 10px;
 top:25px;
}
.arrows_keys i{
 
   border-radius: 100%; 
   padding: .1rem;
   cursor: pointer; 
   z-index: 7;
   margin-left: 10px;
   transition: all .2s;
}
.arrows_keys i:hover{
  background-color: rgba(63, 81, 181, 0.527);
  transition: all .5s;
}

.lancamento-post{
  display:flex;
  width:100%;
  flex-direction:column;
  flex-wrap: wrap;
  height: 280px;
  overflow-y:hidden;
  overflow-x:scroll; 
  /*scroll firefox */
  scrollbar-color: rgba(66, 66, 73, 0.103)rgba(255, 255, 255, 0);
  position: relative;
  padding-top: 10px;
  color:#3f51b5ba;
  scroll-behavior: smooth;
}

/*.lancamento-post::before{
  position: absolute;
  content: 'Últimos Post';
  font-weight: bold;
  margin-left: 35px;
  margin-top: 0px;
  text-transform: uppercase;
}*/



/* configurando scroll */
::-webkit-scrollbar{
  background:rgba(255, 255, 255, 0);
  position: absolute;
}
::-webkit-scrollbar-track{
  border-radius: 100px; 
  background: rgba(0, 0, 0, 0);

}
::-webkit-scrollbar-thumb
{ 

  border-radius: 100px; background:rgba(66, 66, 73, 0.103);
}

