@charset "utf-8";

@media screen and ( max-width: 1280px ){
  .post-left{
    grid-template-columns: repeat(1,1fr);
  }

}


 @media screen and ( max-width: 720px ){

 /*todos post*/
.all-post{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  grid-template-areas: "post-left post-right";
  align-items: center;
  height: 500px;
  }

  .post-left{
    grid-template-columns: repeat(1,1fr);
  
  }
/* post mais visto */
  .max_views{
    width:300px;
    height: 215px;
 }
 .max_views .autor-post{
  width: 45px;
  height: 45px;
}
.max_views .date-post{
  margin-top:5px;
  font-size: 15px;
}
.max_views .info-post{
    align-items: center;
    font-size: 18px;
    font-weight: normal;
}
.max_views .title-post {
  font-size: .8em;
}

.max_views::before {
  font-size: .8em;
  right: 5%;
  top: 6%;
}

}


 @media screen and ( max-width: 450px  ){
  .all-post{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-template-areas: "post-left""post-right";
    align-items: center;
    height: 500px;
    }
    .post-left{
      grid-template-columns: repeat(1,1fr);
    
    }

    .date{
      display: none;
    }

    nav{
      justify-content: center;
    }
    #search{
      margin-right: -50px;
      margin-left: 30px;
    }
    
    nav h1{
      font-size: 1rem;
    }
    .lancamento-post{
      padding: 0;
    }
    .arrows_keys{
      font-size: 2rem;
      position: relative;
    }

    .nav_info{
      padding-left: 20px;
      position: relative;
      padding-bottom: 10px;
     }

    }
    .navigation {
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
    }
 }

